*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}


header{
    width: 100%;
    height:auto;      /* یا auto */
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 1000;
    overflow: visible;
    box-shadow: 0 2px 10px rgba(0,0,0,.1);
}
/* nav */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.menu{
    list-style:none;
    display:flex;
    justify-content:center;
    background:white;
}

.menu li{
    position:relative;
  
}

.menu li a{
    display:block;
    padding:15px 25px;
    color:black;
    text-decoration:none;

}
/* submenue*/
.submenu{
   position:absolute;
    top:100%;
    right:0;
    list-style:none;
    background:white;
    min-width:180px;
    display:none;
    z-index:9999;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
}

.submenu li a{
    color:black;
    border-bottom:1px solid #ddd;
    font-size:18px;
}

.submenu li a:hover{
    background:#D4AF37;
    color:white;
}

/* */
.menu li:hover .submenu{
    display:block;
}

/* submenue1*/
.submenu1{
    display: none;
    position: absolute;
    top: 0;
    right: 100%;   /* برای سایت راست‌چین */
    background:white;
    list-style: none;
    min-width:250px;
    padding: 0;
    color:white;
}

.submenu li:hover > .submenu1{
    display: block;
}
.submenu1 li:hover > .submenu{
    display: none;
}
.submenu li{
    position: relative;
}



/* header*/
.marquee{
    width:100%;
    overflow:hidden;
    background:#1A1A1A;
    padding:10px 0;
}

.marquee-content{
    display:flex;
    align-items:center;
    gap:10px;
    white-space:nowrap;
    width:100%;
    animation:scroll 20s linear infinite;
    direction:rtl;
}

.marquee-content p{
    margin:0;
    color: white;
}
@keyframes scroll{
    from{
        transform:translateX(100%);
    }
    to{
        transform:translateX(-100%);
    }
}

.container{
    width: 100%;
    height: 1201px;
    display:flex;
}


/* right side*/
.image{
    width:50%;
    height:500px;
}

.image1 {
    width:770px;
    height:500px;
}
.demo{
    width:200px;
    height:200px;
    margin: 20px;

}

/* left side*/
.price{
    direction: rtl;
    width:50%;
   background-color: #FFFDF8;
    
    
}


.content{
    margin: 100px;

}

select{
    margin-top: 20px;
    width:600px;
    height: 45px;
}

.content button{
    margin-top:50px;
     width:600px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 20px;
}
.content button:hover{
    background-color:rgb(55, 52, 52);
    border-bottom: 1px solid gray;
}

.explain{
    margin:5px;
    border-top: 1px solid gray;
    
}

.explain p{
    margin:10px;
}



.send{
    width: 100%;
    padding: 30px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:10px;
    flex-wrap: wrap;
   
}

.send .item{
    width:100px;
    text-align: center;
}

.send .item i{
    font-size: 20px;
    color: #666;
    margin-bottom: 10px;
    display: block;
}

.send .item p{
    font-size: 14px;
    line-height:1.8;
  
}


