*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    padding-top:50px;
   
}

header{
    width: 100%;
    height:auto;      /* یا auto */
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 1000;
    overflow: visible;
    box-shadow: 0 2px 10px rgba(0,0,0,.1);
}
/* nav */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.menu{
    list-style:none;
    display:flex;
    justify-content:center;
    background:white;
}

.menu li{
    position:relative;
  
}

.menu li a{
    display:block;
    padding:15px 25px;
    color:black;
    text-decoration:none;

}
/* submenue*/
.submenu{
   position:absolute;
    top:100%;
    right:0;
    list-style:none;
    background:white;
    min-width:180px;
    display:none;
    z-index:9999;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
}

.submenu li a{
    color:black;
    border-bottom:1px solid #ddd;
    font-size:18px;
}

.submenu li a:hover{
    background:#D4AF37;
    color:white;
}

/* */
.menu li:hover .submenu{
    display:block;
}

/* submenue1*/
.submenu1{
    display: none;
    position: absolute;
    top: 0;
    right: 100%;   /* برای سایت راست‌چین */
    background:white;
    list-style: none;
    min-width:250px;
    padding: 0;
    color:white;
}

.submenu li:hover > .submenu1{
    display: block;
}
.submenu1 li:hover > .submenu{
    display: none;
}
.submenu li{
    position: relative;
}
nav a:hover{
    color: #C9A227;
}



/* header*/
.marquee{
    width:100%;
    overflow:hidden;
    background:#1A1A1A;
    padding:10px 0;
}

.marquee-content{
    display:flex;
    align-items:center;
    gap:10px;
    white-space:nowrap;
    width:100%;
    animation:scroll 20s linear infinite;
    direction:rtl;
}

.marquee-content p{
    margin:0;
    color: white;
}
@keyframes scroll{
    from{
        transform:translateX(100%);
    }
    to{
        transform:translateX(-100%);
    }
}

.container{
    width: 100%;
    height:500px;
     background-image: url(../gold/images-ring/bg-ring-negin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;}
 

.container p{
    color: goldenrod;
    position: absolute;
    top:350px;
    left: 650px;
    font-size:40px;
    z-index: 100;

}

/*collection */
.card{
    margin-top:5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
    position: relative;
    
  
    }

.card a{
    text-decoration: none;
    text-align:center;
    padding-top:1px ;
    margin-top: 1px;
    color: goldenrod;
}





.card div{
    width:300px;
    overflow:hidden;
    margin:0;
    padding:0;

}



.card img{
    width:100%;
    height:400px;
    display:block;
    object-fit:cover;
    border: 1px solid  #D4AF37;
    box-shadow:0 10px 30px rgba(228, 190, 55, 0.12);
    border-radius: 6px;
    transition: 0.4s;
    
    
  
}

.card img:hover{
    transform: translateY(-10px);
    box-shadow:0 20px  40px rgba(212,175,55,.35);
}

.card h3 {
    text-align:center;
    padding:10px 0;
}

   

/* FOOTER*/
.footer{
    width: 100%;
    height:450px;
   background: #FFFCF5;
    margin-top: 150px;
    display: flex;
    position: relative;
    font-family: sans-serif;
    z-index: 1;
}
.footer div{
    margin: 100px;
    
}

.App{
    margin-top:20px;
    color: #3A2E2A; 
    position: absolute;
    left: 150px;

    
}


.mark{
    width:60px;
    height:60px;
    position: absolute;
    top:20px;
    left:20px;
    border-radius: 50%;
}




.QR{
    width: 200px;
    height: 200px;
    position: absolute;
    top:150px;
    left:150px;
}
.footer button{
   margin-top: 270px;
    background-color: #fff;
    position: relative;
    

  
}
.btn2{
    width:150px;
    height:50px;
    position: absolute;
    background-color: #ccc;
    left: 70px;
    box-shadow: 4px 4px 4px rgb(104, 93, 64);
    border: none;
    font-size:18px;
   
   
}

.link{
    line-height:2rem;
    font-size: 20px;
    
}

.deal{
    font-size: 24px;
    color:#3A2E2A;
    margin-bottom: 40px;
}
.link a{
    text-decoration: none;
    color:#3A2E2A ;
}


.foot{
    background-color:#FFFCF5;
    color: #3A2E2A; 
    text-align:center;
    padding:20px;
    margin:0;
    border-top:1px solid #444;
}
.foot1{
    background-color:#FFFCF5;
    color: #3A2E2A; 
    text-align:center;
    padding:20px;
    margin:0;
    padding:4px;
   
}



